.finish-desc {padding-left: 1.2rem; margin-bottom: 2.4rem;}
/*.finish-desc a[href="#effects-finish"]::before {
	content: '\e88e';
	color: #ff0000;
    font-family: 'Material Symbols Rounded';
    vertical-align: bottom;
}*/

#cart-btn {position: relative;margin-right: 2.4rem;height: 3.6rem;}
#cart-btn span.icon {font-size: 3.6rem;}
#cart-btn::after {
			position: absolute;
			top:-0.4rem;
			right: -0.4rem;
			content: attr(data-count);	
			line-height: 1.6rem;
			width: 1.6rem;	
			height: 1.6rem;
			font-size: 1rem;
			font-weight: 600;
			text-align: center;
			border-radius: 50%;
			background-color: #000000;
			font-family: 'Montserrat';		
}
		main {padding: 1.6rem;}
		article.item {
			display: grid;
			row-gap: 1.6rem;
			margin-bottom: 2.4rem;
		}
		h1.designation {
		    font-size: 2.4rem;
		    margin: 0 0 1.6rem;
		    font-family: 'Oswald';
		    text-transform: uppercase;
		    color: #212121;	   
		}
		h2.short-desc {		    
		    font-size: 1.6rem;		    
		    margin: 0;
		    font-family: 'Montserrat';
		    text-align: justify;
		}
		.more-info { margin: 0 0 2.4rem;text-align: right;}
		.more-info > a {font-size: .9em;}
.options {
    display: grid;
    grid-template-columns: repeat(auto-fill,12rem);
    padding-top: 2.4rem;
    column-gap: 1.6rem;
    row-gap: 1.6rem;
    justify-content: center;
}
.options .option {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    /* margin-right: 1.6rem; */
    /* margin-top: 3.6rem; */
    width: 12rem;
    height: 12rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: flex-end;
    justify-content: end;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 2px;
}
.options .option > input {
    display: none;
}
.options .option > label:first-of-type {
    text-align: center;
    /* margin: auto 0 0 0; */
    flex: 1;
    padding-top: 1.6rem;
    padding-bottom: .8rem;
    padding-right: .4rem;
    padding-left: .4rem;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}
.options .option > label img {
    /* max-width: 6.2rem; */
    /* width: auto; */
    display: block;
    margin: 0 auto 1.2rem;
    /* object-fit: cover; */
    object-fit: contain;
    max-height: 4rem;
}
.options .option > label:first-of-type span.cost {
    /* display: block; */
    /* margin-top: 1.2rem; */
    /* margin-bottom: 1.2rem; */
    font-weight: 600;
    margin: auto 0 0;
}
.option > label:last-of-type {
    display: none;
    position: absolute;
    top: -1.6rem;
    right: -0.8rem;
    /* width: 3.2rem; */
    /* height: 3.2rem; */
    background-color: #ffffff;
    /* border-radius: 50%; */
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    /* line-height: 3.2rem; */
    /* margin: 1.2rem; */
}
.option > label:last-of-type i {
    margin: 0 .4rem .4rem;
    vertical-align: middle;
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
    border-radius: 50%;
    background-color: red;
}
.option > input:first-of-type:checked ~ label:last-of-type {
    display: initial;
}
		.cart-reinsurance > div {
			position: relative;
		    font-size: 1.6rem;
		    display: grid;
		    grid-template-columns: 3.6rem 1fr;
		    margin-bottom: 1.2rem;
		    column-gap: .8rem;
		}
		.cart-reinsurance > div > a {position: absolute; top:0;right: 0; bottom:0;left:0;}
		.cart-reinsurance > div > span:first-child{font-size: 3.2rem;text-align: center;}
		.cart-reinsurance > div > span:first-child img {width:3.2rem;height: 3.2rem;}
		.cart-reinsurance {margin-top:3.6rem;}
		.cart-reinsurance img {height: auto;}
		.cart-reinsurance img.picto {max-width: 3.2rem;}
		.cart-reinsurance p.reinsurance-designation {font-size:1.2em;font-weight: 600;}
		.product-detail {padding-right: 2.4rem;}
		.breadcrumb li:not(:last-child)::after {
		   content: "/";
		    font-family: 'Montserrat';
		    font-weight: 700;
		    font-style: normal;
		    font-size: inherit;
		    padding: 0 .8rem;
		    line-height: inherit;  
		}
		.designation {max-width: 68rem;margin: 0 auto 2.4rem;}		
		.suitable-for {list-style: none;list-style-type: none;}
		.prices {display: block;margin:0;text-align: right;}
		.prices .old {
			text-decoration-color: #000000;
		    margin-right: 1.2rem;
		    text-decoration-line: line-through;
		    text-decoration-thickness: .16rem;
		    font-weight: 600;
		    opacity: .6;
		}
		#install-kit {display: block;margin: 4.8rem auto;}
		.widget-filter label {font-size: 1.2rem;}
		.column-filter {padding-top: 0;}
		.prices .new {font-weight: 600;}
		.cart-action {display: flex;align-items: center;justify-content: center;margin-top:1.6rem;max-width: 32rem;}
		.cart-action button {
			height: 4.8rem !important;
			border-top-right-radius: .2rem !important;
			border-bottom-right-radius: .2rem !important;
			text-transform: uppercase;
			font-size: 1.6rem;
		}
		.cart-action button:disabled {cursor:not-allowed;}		
		.item-qty {
    		border-top-right-radius: 0;
		    border-bottom-right-radius: 0;
		    height: 4.8rem !important;
		    outline: none;
		    width: 4.8rem;
		    text-align: center;
		    font-weight: 600;
		    border-bottom-left-radius: .2rem;
		    border-top-left-radius: .2rem;
		    border-color: white;
		    padding-right: .4rem;
		    font-size: 1.6rem;
		}		
		.gallery {
			max-width: 680px;
    		max-height: 510px;
    		margin: auto;

		}
		.thumbnails {text-align: right; margin-top:3.2rem; margin-right: 3.2rem; margin-bottom: 3.2rem;}
		.thumbnails .thumbnail {position: relative; width: 72px;height: auto;}
		div.options > p {margin:0;}
		div.header{margin-top: 3.6rem;}
		.load {animation: 1s cubic-bezier(.36,.07,.57,.99) infinite load_rotate;opacity: 1 !important;margin-right: .8rem;}
		.load.hidden {text-indent: -100px; margin-right:0;}
		.fieldset-wrapper {margin-top:1.6rem; margin-bottom: 2.4rem;}
		.fieldset-wrapper fieldset {border:unset;padding: 0; margin: 0;}
		.fieldset-wrapper.sizes label { 
	    	display: inline-flex;
	    	padding-left: .4rem;
    		padding-right: .4rem;
    		margin: 0 1.2rem 0 .8rem;
    		min-width: 3.6rem;
    		max-width: 5.6rem;
	    	/* background-color: #000000; */
	    	/* color: #ffffff; */
	    	height: 3.6rem;
	    	align-items: center;
	    	justify-content: center;
	    	font-weight: 700;
	    	border-color: #000000;
	    	border-width: 1px;
	    	border-style: solid;
	    	border-radius: .4rem;
	    	transition: background-color .3s, color .3s;
		}
		.fieldset-wrapper.sizes input {opacity: 0;width: 1px; margin: 0;}
		.fieldset-wrapper.sizes  label:hover {cursor: pointer;}
		.fieldset-wrapper.sizes input:checked + label, .fieldset-wrapper.sizes  label:hover {
			background-color: #000000;
    		color: #ffffff;
		}
		.item-cart {grid-area: 3;}	

		@keyframes load_rotate {
		  from {
		     transform: rotate(0deg);
		  }
		  to {
		     transform: rotate(360deg);
		  }
		}	
		.discounts {margin-bottom:1.6rem;}
		.sub-total > small {font-size: .8em;}
		.amount.negative {color: #ff0000;font-weight: bold;}

		.negative::before {content: '- ';}
		.main-footer {
    		width: initial;
    		align-self: unset;
    		align-self: unset; 
    		background-color: #000000;
    		color: #FFFFFF;
    		font-weight: 300;
    		font-size:  1.4rem; 
    		font-family: 'Oswald';
    		margin-top: 0;
    		padding-top: 2.4rem;
    		padding-bottom: 2.4rem;
		}		
		#more-info {margin-bottom: 4.8rem;}
		#product-features ul {list-style: '- ';list-style-type: '- ';}
		
		
		@media only screen and (min-width: 800px) {
    		.bloc-widgets-filter { margin-right: 0; padding-right: 1.6rem;}
		}
		
		@media only screen and (min-width: 1024px) {
			.baseline .logo {padding-left: 0;}
			.primary-header .logo-footer {height: 28px;width: 191px;}
    		.secondary-nav {margin-left: 1.6rem;}
    		.item-composition{padding: 0 1.6rem;}
    		.item-info {padding-right: 2.4rem;}
    		main {padding: 3.2rem 2.4rem 2.4rem;background: linear-gradient(to right, #ffffff 75%, #fafafa 75% 100%);}
    		h1.designation {/*font-size: 3.2rem;*/}
    		.options {justify-content: start; justify-content: flex-start;}

			article.item {				
			    grid-template-columns: 37.5% 37.5% 1fr;
			    column-gap: .8rem;			    
			}
			.item-content {grid-area: 2 / 1 / 3 / 3;padding: 0 3.2rem;}
			.item-cart{grid-area: 1 / 3 / 2 / 3; padding-left: 2.4rem;position: sticky;top:0;}
			#install-kit {width: 56rem; height: 31.5rem;}

			.cart-reinsurance > div {font-size: 1.2rem;}
		}		
		@media only screen and (min-width: 1280px) {
			.primary-header .baseline {padding-left: 8rem;}
			.cards {margin-top: 4.8rem;}
			.filters-modal {display: none;}
			.column-filter {max-height: unset; max-height: max-content;}
			.btn-filter {
				margin-top: 3.2rem;
    			margin-bottom: 1.6rem;
    			justify-content: space-between;
			}
		}
		@media only screen and (min-width: 1360px) {
    		.user-actions {margin: 0 8rem 0 auto;}
		}